# Tarea 9

Carga el CSV de la carpeta de datos del tema llamado run.csv y responde a las siguientes preguntas.

In [45]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv('../../data/run.csv', index_col=0)
df.head()

,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
1,48,54,no,si,H,68.0,150,nula
2,54,56,no,si,H,69.0,145,moderada
3,54,50,no,no,H,69.0,160,moderada
4,58,70,si,no,H,72.0,145,moderada
5,58,58,no,no,H,66.0,135,intensa

## Preguntas

1. Indica cuantos estudiantes formaron parte del estudio de deporte

In [47]:
len(df)

92

2. Indica cuantos individuos son hombres y cuantos son mujeres

In [48]:
#Agregamos una columna de cuenta (solo para que se vea mejor)
df['cuenta'] = 1
df[['genero', 'cuenta']].groupby('genero').count()

        cuenta
genero
H           57
M           35

3. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

In [49]:
#Creamos la columna con la variación
df['variacion.pulso[%]'] = np.round((df['pulso.despues']/df['pulso.antes'] - 1)*100,3)
df.groupby('hace.deporte').agg({'variacion.pulso[%]': np.mean})

              variacion.pulso[%]
hace.deporte
no                      0.209526
si                     26.215400

Si, hay una gran diferencia, en los que no hacen deporte la variación es mínima, mientras en los que sí hacen, la variación es mucho mayor

4. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

In [50]:
df[df['hace.deporte'] == 'si'].groupby(['hace.deporte', 'genero']).agg({'variacion.pulso[%]': np.mean})

                     variacion.pulso[%]
hace.deporte genero
si           H                19.176917
             M                41.572091

Si, la diferencia es mayor en las mujeres que en los hombres

5. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

In [52]:
df[df['hace.deporte'] == 'no'].groupby('fuma').agg({'variacion.pulso[%]': np.mean})

      variacion.pulso[%]
fuma
no             -0.064707
si              0.912250

No hay tanta diferencia.

6. Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

In [55]:
df.groupby('tipo.actividad').agg({'variacion.pulso[%]': np.mean})

                variacion.pulso[%]
tipo.actividad
intensa                   1.347524
moderada                 14.015721
nula                     12.500000
suave                     3.747222

Si se observan diferencias