# Listas
Son contenedores que permiten almacenar una colección de objetos en un orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencilla.

In [1]:
L1 = [] # Lista vacía

In [2]:
L2 = ['a', 'e', 'i', 'o', 'u'] # Lista con valores iniciales

In [3]:
L3 = [2,3,5,7,11] # Lista con valores enteros

In [4]:
L4 = ['a', 5, True, "Juan Gabriel"] # Lista heterogénea con varios tipos de datos diferentes

In [5]:
L4

['a', 5, True, 'Juan Gabriel']

In [8]:
L5 = [0]*10 #crea lista con 10 0s

In [9]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [10]:
L4[0] # Las listas en Python empiezan en la posición número 0

'a'

In [11]:
L4[1]

5

In [12]:
L5[4] = 3.1415 # Modificación de valores

In [13]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [16]:
L5[13] = 8

IndexError: list assignment index out of range

In [17]:
L5[13]

IndexError: list index out of range

In [18]:
L4[0:2] # Accesos de posiciones múltiples (incluye la primera, pero no la última)

['a', 5]

In [19]:
L5[1:4] = [1,2,3]

In [20]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [22]:
L5.append(8) #agrega un nuevo elemento a la lista

In [23]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0, 8, 8]

In [24]:
L5.remove(3)# Elimina la primera ocurrencia del objeto 3 de la lista L5

In [25]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0, 8, 8]

In [26]:
L5.reverse() #revierte la lista

In [27]:
L5

[8, 8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [29]:
L5.count(0) #cuenta ocurrencias

6

In [31]:
L5.index(2) #posición donde hay primera ocurrencia

8

In [32]:
len(L5)

11

In [33]:
L = [1,2,3,4,5,6]

In [34]:
L[1::2]#Sacar elementos en posición impar (toma desde el 1 y se va de 2 en 2)

[2, 4, 6]

In [35]:
L[::2]#Sacar elementos en posición par

[1, 3, 5]

In [36]:
L[-1] #último elemento de la lista

6

In [39]:
8 in L #ver si hay un elemento en la lista

False

In [40]:
4 in L

True

# Bucles

Los bucles **for** iteran sobre una colección (una lista, un string, un objeto iterable)

In [41]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [42]:
numero

6

In [43]:
for x in range(0,10): # range(10) = range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [44]:
for c in "Juan Gabriel":
    print(c)

J
u
a
n

G
a
b
r
i
e
l

In [40]:
notas = [3.5, 6.7, 8, 9, 4.5]
suma = 0
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

6.34

El bucle **while** se repite hasta que la condición booleana deja de ser cierta.

In [49]:
count = 0
while count < 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

In [52]:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos): #requiere función enumerate para tener posición y valor
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [53]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

# Tupla
Una tupla es una colección de objetos que no puede modificarse (tiene tamaño y contenido fijo).

In [55]:
p1 = (1,)

In [58]:
p1

(1,)

In [59]:
p2 = (1,2,3,4)

In [60]:
p2

(1, 2, 3, 4)

In [61]:
p3 = (1,2,'c',3.1415)

In [62]:
p3

(1, 2, 'c', 3.1415)

In [63]:
p3[0]

1

In [64]:
p3[0:2]

(1, 2)

In [70]:
a,b,c,d = p3 #se pasa elemento a elemento

In [71]:
a

1

In [72]:
b

2

In [73]:
c

'c'

In [74]:
d

3.1415

In [75]:
l3 = list(p3) #convertir tupla a lista
l3

[1, 2, 'c', 3.1415]

In [76]:
#convertir lista a tupla
p5 = tuple(L5)
p5

(8, 8, 0, 0, 0, 0, 0, 3.1415, 2, 1, 0)

In [79]:
#separa según el caracter que le pase
"Hola que tal   estás".split(" ")

['Hola', 'que', 'tal', '', '', 'estás']

In [80]:
"4,6,2,7,9,4,2".split(",")

['4', '6', '2', '7', '9', '4', '2']

In [81]:
numeros = input("Escribe números separados por comas.")
numerosL = numeros.split(",")
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

Escribe números separados por comas.1,2,4,5,9,10,-1
['1', '2', '4', '5', '9', '10', '-1']
('1', '2', '4', '5', '9', '10', '-1')

In [82]:
suma = 0
for n in numerosT:
    suma += int(n)
    
print(suma/len(numerosT))

4.285714285714286

# Diccionario
Colección no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, si no utilizando las claves

In [89]:
#place holder %s para string
nombre = input("Introduce aquí tu nombre: ")
print("Hola %s"%nombre)

Introduce aquí tu nombreAlejandro
Hola Alejandro

In [85]:
print("Estos son los números primos: %s"%primos)

Estos son los números primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [83]:
print("Esto es un número: %d"%suma)

Esto es un número: 32

In [91]:
#%f para mostrar decimales, .3f muestra 3 decimales
media = suma/len(numerosT)
print("Esto es un número decimal: %.2f"%media)

Esto es un número decimal: 4.29

In [112]:
edad = {
    "Juan Gabriel":30, 
    "María":20, 
    "Ricardo":53, 
    "Antonio":45
}

In [113]:
edad["Ricardo"]

53

In [114]:
for k, e in edad.items():
    print(k, e)

Juan Gabriel 30
María 20
Ricardo 53
Antonio 45

In [115]:
edad["Ricardo"] = 52

In [116]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52, 'Antonio': 45}

In [117]:
edad.keys()

dict_keys(['Juan Gabriel', 'María', 'Ricardo', 'Antonio'])

In [118]:
edad.values()

dict_values([30, 20, 52, 45])

In [119]:
len(edad)

4

In [120]:
#solo para clave
"Pepe" in edad

False

In [121]:
"María" in edad

True

In [122]:
"Mario" not in edad

True

In [123]:
#eliminar entrada del diccionario
del edad["Antonio"]

In [111]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52}

In [102]:
notas = {"Al1": 5.6, "Al2":7.5, "Al3": 10, "Al4":False}
notas

{'Al1': 5.6, 'Al2': 7.5, 'Al3': 10, 'Al4': False}